    ---
import Layout from '../layouts/Layout.astro';
import Init from'../pages/Section/Init.astro';
import About from'../pages/Section/About.astro';
import Experi from'../pages/Section/Experi.astro';
import Footer from'../pages/Section/Footer.astro';
import Project from'../pages/Section/Project.astro';
    ---

    <Layout title="Welcome to Astro.">
      <main class="flex flex-col items-center">
        <article class="pt-20 red w-full flex items-center flex-col pb-32 md:flex-row justify-center gap-20 lg:pt-52 xl:gap-64 lg:pb-56 xl:pt-48">
          <img src="/perfiles.jpg" class="h-40 w-40 rounded-e-full lg:h-80 lg:w-80  xl:h-96 xl:w-96"/>
          
          <Init />
          
        </article>
        
        <section class="grid place-items-center pt-3.5" id="About-I">
          <p class="text-gray-700">Get Know More</p>
          <h1 class="text-3xl font-bold">About Me</h1>
          <img src="/Perfil.jpg" class="h-44 w-44 rounded-full mb-5 mt-5" />
        </section>
        
        <div class="flex justify-center">
          <About />
        </div>
        <p class="text-center mt-5 mb-1 text-gray-500 lg:text-2xl">
          I'm Development Frontend Freelance <br>
          from "Honduras" Open on new experience in programming languages and framework
        </p>
        <p class="text-center mb-10 text-gray-500 text-2xl">
          I like challenges to learn more about new technologies
        </p>
        <Experi />
        <Project />
        <Footer />
      </main>
    </Layout>

    <style>
      main {
        background: white;
      }
    </style>