<article id="Experi-I">
  <p class="text-gray-500 pt-10 text-center">Explore My</p>
<h1 class="text-4xl font-bold text-center">Experience</h1>

<section class="md:flex md:gap-10">
<div class="grid grid-cols-1 items-center gap-10 mt-7 border-2 border-gray-300 rounded-3xl pl-16 pr-16 pt-10 pb-10">
   <h1 class="font-bold text-lg text-gray-600 text-center">Frontend Development</h1>
  
    <section class=" grid md:grid-cols-2 gap-10">
  
  <div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">HTML</h1>
    </div>
    <p class="ml-11 text-gray-600">Experienced</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">CSS</h1>
    </div>
    <p class="ml-11 text-gray-600">Experienced</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">Astro</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">SASS</h1>
    </div>
    <p class="ml-11 text-gray-600">Experienced</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">JavaScript</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">TypeScript</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">Material UI</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>
</section>
</div>

<div class="grid grid-cols-1 items-center mt-7 border-2 border-gray-300 rounded-3xl pl-16 pr-16 pt-10 pb-10 md:h-[20rem]">
  <h1 class="font-bold text-lg text-gray-600 text-center pb-10">Frontend Development</h1>
  
<section class="grid md:grid-cols-2 gap-10">
    <div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">PostgreSQL</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">Node JS</h1>
    </div>
    <p class="ml-11 text-gray-600">Basic</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">Express JS</h1>
    </div>
    <p class="ml-11 text-gray-600">Intermediate</p>
</div>

<div class="flex w-32 flex-col">
    <div class="flex gap-4">
      <img src="/like.png" class="h-7 w-7">
    <h1 class="font-bold">Git</h1>
    </div>
    <p class="ml-11 text-gray-600">Intermediate</p>
</div>
</section>
</div>
</div>
</article>
</a>