---

---
    <header class="flex items-center justify-between pr-3 pl-3 pt-8 lg:pt-4 md:pr-10 pl-10 md:fixed md:w-full">
      <a class="text-2xl font-black text-gray-700 lg:text-4xl " href="/">Dev/Top</a>
      <div class="md:hidden">
        
      </div>
      
      <nav class="hidden md:block pt-2 pb-2 pr-4 pl-4 rounded-3xl border-2 border-gray-100">
        
        <a class="pl-2 text-2xl lg:text-3xl text-gray-700 font-black hover:md:bg-black hover:md:text-white hover:md:rounded-2xl hover:md:pr-4 hover:transition-all hover:md:pl-1.5 hover:md:pt-1 md:pb-1 hover:animate-pulse" href="#">Home</a>
        <a class="pl-2 text-2xl lg:text-3xl text-gray-700 font-black hover:md:bg-black hover:md:text-white hover:md:rounded-2xl hover:md:pr-4 hover:transition-all hover:md:pl-1.5 hover:md:pt-1 md:pb-1 hover:animate-pulse" href="#Experi-I">Projects</a>
        <a class="pl-2 text-2xl lg:text-3xl text-gray-700 font-black hover:md:bg-black hover:md:text-white hover:md:rounded-2xl hover:md:pr-4 hover:transition-all hover:md:pl-1.5 hover:md:pt-1 md:pb-1 hover:animate-pulse" href="#">Contact</a>
        <a class="pl-2 text-2xl lg:text-3xl text-gray-700 font-black hover:md:bg-black hover:md:text-white hover:md:rounded-2xl hover:md:pr-4 hover:transition-all hover:md:pl-1.5 hover:md:pt-1 md:pb-1 hover:animate-pulse" href="#About-I">About</a>
        
      </nav>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2 md:hidden" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M4 6l16 0" />
  <path d="M4 12l16 0" />
  <path d="M4 18l16 0" />
  <slot name="content"></slot>
</svg>
    </header>
    