    ---
   
    ---

    <div class="text-white flex flex-col items-center justify-center pb-1.5 pt-8 lg:h-full lg:w-max">
      <p class="text-gray-700 font-bold lg:text-2xl xl:text-3xl">Hello, I'm</p>
      <h1 class="text-black font-bold text-3xl lg:text-5xl xl:text-6xl animate-pulse">Joshua Madrid</h1>
      <h4 class="text-gray-700 font-bold lg:text-2xl xl:text-4xl">Frontend Developer</h4>
      
         <div class="flex gap-4 pt-5 xl:gap-10 xl:pt-10">
      <button
        type="submit"
        class="text-black font-bold h-12 w-32 rounded-3xl border-2 lg:h-16 lg:w-48 xl:h-20 xl:w-56 rounded-full"
      >
        Donwload CV
      </button>

      <button
        type="submit"
        class="text-white font-bold bg-black h-12 w-32 rounded-3xl lg:h-16 lg:w-48 xl:h-20 xl:w-56 rounded-full"
      >
        Contact Info
      </button>
    </div>
      
       <div class="flex gap-4 pt-7 xl:gap 7 xl:pt-10">
            <a href="#TC"><img class="h-10 w-10 lg:h-14 lg:w-14 xl:h-16 xl:w-16" src="/linkedin.png"><a/>
            <a href="/" ><img class="h-10 w-10 lg:h-14 lg:w-14 xl:h-16 xl:w-16" src="/github.png">
          </a>
          </div>
    </div>