<p class="text-gray-500 pt-10">Browse My Recent</p>
<h1 class="text-4xl font-bold">Projects</h1>

<section class="md:flex gap-5">
  
  <article id="Projects" class="grid place-items-center border-2 border-gray-300 rounded-3xl mt-5 pl-4 pr-4 pt-6 pb-6">
  <img src="/project-1.png" class="w-64 rounded-3xl mb-3">
  <h1 class=" font-bold text-lg">Project One</h1>
  <div class="flex gap-5 pt-2">
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Github</button>
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Live Demo</button>
  </div>
</article>

<article class="grid place-items-center border-2 border-gray-300 rounded-3xl mt-5 pl-4 pr-4 pt-6 pb-6">
  <img src="/project-2.png" class="w-64 rounded-3xl mb-3">
  <h1 class=" font-bold text-lg">Project One</h1>
  <div class="flex gap-5 pt-2">
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Github</button>
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Live Demo</button>
  </div>
</article>

<article class="grid place-items-center border-2 border-gray-300 rounded-3xl mt-5 pl-4 pr-4 pt-6 pb-6">
  <img src="/project-3.png" class="w-64 rounded-3xl mb-3">
  <h1 class=" font-bold text-lg">Project One</h1>
  <div class="flex gap-5 pt-2">
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Github</button>
    <button type="submit" class="border-2 border-gray-300 rounded-3xl font-bold pl-7 pr-7 p-2">Live Demo</button>
  </div>
</article>
</section>